.navButton {
    width: 200px;
    height:60px;
    padding: 10px;
    background-color: #003135;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;

    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.navButton:hover {
    border: 2px solid #FFFFFF;
    background-color: #1a3f42;
}

.proceedButton {
    width: 200px;
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    
    background-color: #0f4e50;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;

    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.proceedButton:hover {
    background-color: #22494b;
}

.proceedButton:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}