.card {
    height: 330px;
    width: 220px;
    padding: 20px;
    background-color: #FFFFFF;

    border: 1px solid #AFDDE5;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.2s;
    margin: 20px;
}