.card {
    position: relative;
    height: 330px;
    width: 220px;
    padding: 35px;
    background-color: #FFFFFF;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    max-height: 80%;
    max-width: 80%;
    object-fit: fill;
}

.card:hover {
    transition: 0.2s;
    background-color: #e7e7e7;
    cursor: pointer;
}