.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0px 30px;
    background-color: #003135;
    color: #FFFFFF;
    box-sizing: border-box;
}

.left {
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.centre {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}