.home {
    position: relative;
    height: 400px;
    width: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.slide-image {
    position: absolute;
    max-height: 95%;
    max-width: 95%;
    
    object-fit: fill;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slide-image.active {
    opacity: 1;
}