.home {
    height: 300px;
    width: 300px;
    padding: 20px;

    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px;
}

.slide-image {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: fill;

    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slide-image.active {
    opacity: 1;
}