/**
Website colours:
Main: #003135
Button: #024950

Subtle:
Active: #0FA4AF
Alt: #AFDDE5
*/

/** Base Settings: */

body {
    font-family: Arial, monospace;
    color: #000000;
    background-color: #ffffff;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 2;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.title {
    text-align: left;
    width: 100%;
    max-width: 1200px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 20px;
}

.container-v-center {
    align-items: center; 
}

.accent {
    border: 1px solid #AFDDE5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.2s;
    margin-bottom: 60px;
}

input {
    font-family: Arial, monospace;
    font-size: 24px;
    color: #000000;
}

.txt-input {
    border: 1px solid #AFDDE5;
    border-radius: 10px;
    padding-bottom: 20px;
}

.txt-input-large {
    border: 1px solid #AFDDE5;
    border-radius: 10px;
    padding-bottom: 80px;
}

.speech-bubble {
    background-image: url("/icons/chat-bubble.png");
    background-repeat: no-repeat;
    background-position: top;
    opacity: 1;

    display: inline-block;
    padding: 160px 100px;
    text-align: center;
    margin: 20px 0;
}

/** Font Settings */

span.size-36 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 36;
}

span.size-96 {
  font-size: 96px;
  font-variation-settings: 'OPSZ' 96;
}

span.size-500 {
  font-size: 500px;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'OPSZ' 500;
}

.arrow:hover {
    transition: 0.2s;
    background-color: #e7e7e7;
    cursor: pointer;
}