/**
Website colours (3 cool and collected):
Main: #003135
Button: #024950

Subtle:
Active: #0FA4AF
Alt: #AFDDE5

*/

body {
    font-family: Arial, monospace;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    font-size: 16px;
}