/**
Website colours:
Main: #003135
Button: #024950

Subtle:
Active: #0FA4AF
Alt: #AFDDE5
*/

/** Base Settings: */

body {
    font-family: Arial, monospace;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 20%;
}

/** Font Settings */

span.size-36 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 36;
}

span.size-96 {
  font-size: 96px;
  font-variation-settings: 'OPSZ' 96;
}

.arrow-hover:hover {
    transition: 0.2s;
    background-color: #e7e7e7;
    cursor: pointer;
}